@import '$lib/css/reset.scss';

:root {
  /* 
    Sizes 
  */
  --header-height: 60px;

  /*
    Light colours
  */
  --light-text: #222;
  --light-bkg: #ededed;
  --light-intro-bkg: #efefef;
  --light-header-bkg: #efefef;
  --light-logo: var(--light-text);

  --light-blue: #294d70;
  --light-violet: #7e467e;
  --light-teal: #3b8273;
  --light-brown: #82543d;
  --light-yellow: #8a8637;
  --light-green: #378a3b;

  /*
  Dark colours
  */
  --dark-text: #eee;
  --dark-bkg: #151515;
  --dark-intro-bkg: #222;
  --dark-header-bkg: #222;
  --dark-logo: var(--dark-text);

  --dark-blue: #007bff;
  --dark-violet: #ff46ff;
  --dark-teal: #33ffd3;
  --dark-brown: #ff7c36;
  --dark-yellow: #fff42b;
  --dark-green: #2bff39;
}

body,
body.light {
  --col-text: var(--light-text);
  --col-bkg: var(--light-bkg);
  --col-intro-bkg: var(--light-intro-bkg);
  --col-header-bkg: var(--light-header-bkg);
  --col-logo: var(--light-logo);

  --col-blue: var(--light-blue);
  --col-violet: var(--light-violet);
  --col-teal: var(--light-teal);
  --col-brown: var(--light-brown);
  --col-yellow: var(--light-yellow);
  --col-green: var(--light-green);

  background-color: var(--col-bkg);
  color: var(--col-text);
}

/* Shared */
body {
  --col-edge: var(--col-teal);
}

/* Dark theme colors */
body.dark {
  --col-text: var(--dark-text);
  --col-bkg: var(--dark-bkg);
  --col-intro-bkg: var(--dark-intro-bkg);
  --col-header-bkg: var(--dark-header-bkg);
  --col-logo: var(--dark-logo);

  --col-blue: var(--dark-blue);
  --col-violet: var(--dark-violet);
  --col-teal: var(--dark-teal);
  --col-brown: var(--dark-brown);
  --col-yellow: var(--dark-yellow);
  --col-green: var(--dark-green);
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --col-text: var(--dark-text);
    --col-bkg: var(--dark-bkg);
    --col-intro-bkg: var(--dark-intro-bkg);
    --col-header-bkg: var(--dark-header-bkg);
    --col-logo: var(--dark-logo);

    --col-blue: var(--dark-blue);
    --col-violet: var(--dark-violet);
    --col-teal: var(--dark-teal);
    --col-brown: var(--dark-brown);
    --col-yellow: var(--dark-yellow);
    --col-green: var(--dark-green);

    background-color: var(--col-bkg);
    color: var(--col-text);
  }
}

a,
a:active,
a:visited {
  color: var(--col-blue);
}

* {
  box-sizing: border-box;
}

body.loaded {
  transition: color 500ms linear, background-color 500ms linear;
}

body,
html {
  height: 100%;
}

body {
  // display: grid;
  // grid-template-rows: 80px 1fr auto;
  // height: 100%;
  display: flex;
  flex-direction: column;
}
